.mobileSideBar {
    display: none;
}

.switcherPosition {
    position: fixed;
    top: 29px;
    left: -129px;
    z-index: 1000;
    transition: left 0.3s;
}

.switcherPositionInDrawer {
    left: -22px;
    transition: left 0.45s;
}

.buttonBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-xs);
    margin-top: var(--gap-m);
}

.menuButton,
.exitButton {
    font: var(--font-s);
    color: var(--font-title-light);
}

.menuButton {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90px;
    height: fit-content;
    padding: var(--gap-3s) 0 var(--gap-2m);
}

.exitButton {
    padding-top: var(--gap-3xs) var(--gap-2m);
    height: 26px;
}

.divider {
    position: absolute;
    bottom: 40px;
    left: 0;
    margin: 0;
}

.exitBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

@media (max-width: 576px) {
    .mobileSideBar {
        display: block;
    }
}
