.tabs {
    max-width: 368px;
}
.tabs :global(.ant-tabs-tab) {
    width: 50%;
    display: flex;
    justify-content: center;
    font: var(--font-m);
    margin: 0;
}

.tabs :global(.ant-tabs-nav-list) {
    width: 100%;
}

.tabs :global(.ant-tabs-nav-wrap),
.tabs :global(.ant-tabs-nav) {
    max-width: 368px;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 490px) {
    .tabs {
        max-width: 296px;
    }

    .tabs :global(.ant-tabs-nav-wrap),
    .tabs :global(.ant-tabs-nav) {
        max-width: 296px;
    }

    .tabs :global(.ant-tabs-tab) {
        font: var(--font-s);
    }

}


