.form {
    width: 540px;
}

.rate {
    margin-bottom: 12px;
}

.modal {
    padding: 0;
    margin: 0 auto;

    @media (width <= 768px) {
        width: 328px;
    }
}

.content {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    padding: 44px 8px 32px 8px;

    @media (width <= 500px) {
        padding: 44px 0 32px 0;
    }
}

.image {
    text-align: center;
    width: 70px;
    height: 70px;
}

.buttonBlock {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.button {
    height: 40px;
}

.title {
    color: #262626;
    font: var(--font-xl-tablet);
    margin-bottom: 0;
}

.subTitle {
    color: #8c8c8c;
    font: var(--font-s);
}
