.extra {
  color: var(--secondary-light);
  font: var(--font-xs);
}

.extraError {
  color: var(--color-light-error);
}

.formItemInput :global(.ant-form-item-control:first-child:not([class^='ant-col-']):not([class*=' ant-col-'])) {
  display: flex;
}

.formItemInput :global(
      .ant-form-item-control:first-child:not([class^='ant-col-']):not([class*=' ant-col-']) > *:nth-child(2)
  ) {
  order: 3;
}